/* Styles go here */

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}

#letter {
  border: solid grey;
  border-radius: 3px;
  padding: 50px;
}

div.wrapper {
  text-align: center;
}

#pdfbutton {
  height: 70px;
  width: 150px;
  font-size: 200%;
}

div.purposes {
  margin-left: 50px;
}
